<div class="footer">
  <div class="listing flex">
    <ul class="nav lists">
      <li><a href="https://keplertek.org/Lightpaper.pdf" target="_blank">Light paper</a></li>
      <li><a href="https://keplertek.org/v2/WP.pdf" target="_blank">White paper</a></li>
      <li><a href="https://keplertek.org/documents/OnePager.pdf" target="_blank">One pager</a></li>
    </ul>
    <ul class="nav lists">
      <li><a
        href="https://www.google.ge/maps/place/2+Ivane+Tarkhnishvili+St,+Tbilisi/@41.7068409,44.7819202,17z/data=!3m1!4b1!4m5!3m4!1s0x40440cd0558c45ed:0x2ec1698f3522b802!8m2!3d41.7068409!4d44.7841089"
        target="_blank">Location</a></li>
      <li><a href="https://keplertek.org/" target="_blank">Go to keplertek.io</a></li>
    </ul>
  </div>
  <div class="line"></div>
  <div class="flex -ac">
    <div class="l">
      <div class="btn-area">
        <a href="javascript:;" class="btn -simple -blue" (click)="openModal(footerModal)">
          <i class="icon-bug"></i>
          <b>BUG REPORT</b>
        </a>
      </div>
    </div>
    <div class="r">
      <div class="copyright">
        <div class="logo"><img src="/assets/img/kepler-k-colored.svg" alt=""></div>
        <div class="text">
          <p>Keplertek 2018</p>
          <p>All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="none" [ngStyle]="{'display':'none'}">
  <div class="footerModal" #footerModal>
    <div class="simpleBox simpleForm padder -padd15">
      <div class="titleLine">
        <div class="title">Make Offer</div>
      </div>
      <div class="content">
        hello
        <form novalidate>
          <app-alerts></app-alerts>
          <div class="form">
            <div class="questionLine">
              <span class="question">1) How To Be</span>
              <label class="inputer">
                  <span class="input">
                    <input type="text">
                  </span>
              </label>
            </div>
          </div>
          <div class="btn-area">
            <button class="btn -simple -green"><b>Submit</b></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

