// main: style.scss

//fonts

// Open Sans
$Open-Sans-Regular: 'OpenSans-Regular';
$Open-Sans-SemiBold: 'OpenSans-SemiBold';
$Open-Sans-Bold: 'OpenSans-Bold';
$Open-Sans-Light: 'OpenSans-Light';
// SegoeUI import
$SegoeUI-Regular: 'SegoeUI-Regular';
$SegoeUI-SemiBold: 'SegoeUI-SemiBold';
$SegoeUI-Bold: 'SegoeUI-Bold';
$SegoeUI-Light: 'SegoeUI-Light';

//colors
$c-white: #fff;
$oc-black: #000;
$oc-white-1: #f8f8f8;
//--
$c-dark-1: #1C2237;
$c-dark-2: #151A2A;
//--
$c-gray-1: #B5C1CF;
$c-gray-2: #51566D;
$c-gray-3: #A1A5C7;
//--
$c-text-1: #a1a5c7;
$c-text-2: #c1c5e6;
$c-text-3: #51566d;
$c-text-4: #b9c3cb;
$c-text-5: #354052;
$c-text-6: #ece1ff;
// devices
$size-laptop: 1441px;
$size-device: 769px;
$size-small: 320px;
$size-former: 500px;
