<div class="_body authorise">
  <div class="auth-wrap">
    <div class="inside">
      <div class="logoarea">
        <div class="logo">
          <div class="k-k">
            <img src="/assets/img/kepler-k.svg" alt="Keplertek Dashboard">
            <div class="dashname">DASHBOARD</div>
          </div>
          <div class="keplername"><img src="/assets/img/keplertek.svg" alt=""></div>
        </div>
      </div>
      <div class="formArea">
        <router-outlet></router-outlet>
      </div>

    </div>
    <div class="footer">
      <div class="flex -ac">
        <div class="l">
          <div class="btn-area">
            <a href="mailto:support@keplertek.org" class="btn -simple -blue"><i class="icon-bug"></i><b>BUG
              REPORT</b></a>
          </div>
        </div>
        <div class="r">
          <div class="copyright">
            <div class="logo"><img src="/assets/img/kepler-k-colored.svg" alt=""></div>
            <div class="text">
              <p>Keplertek 2018</p>
              <p>All right reserved</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
