.loadingLayout {
  display: block;
  width: 100%;
  height: 100%;

  .loaderSide {
    @include flex-all;
    width: 100%;
    height: 100%;
  }

  .loader {
    @include flex-all;
    @include flex-direction(column);
   .image {
     svg {
       width: 100%;
       height: 100%;
     }
    @include flex-all;
     width: 100px;
     height: 100px;
   }
  }
}

