<div class="topLine flex float">
  <div class="flex -left">
    <div class="_device -devMenu">
      <ul class="nav menuIconer">
        <li><a href="javascript:;" class="_device dropMenu" (click)="openNavMenu($event)"><i class="icon-burger-menu"></i></a></li>
        <!--<li><a href="javascript:;" class="_device dropMenu"><i class="icon-keyboard-down-arrow"></i></a>-->
      </ul>
    </div>
    <div class="_device menuer">
      <ul class="nav topliner">
        <li><a href="https://t.me/joinchat/HR5jUxKGkD4XY3y1v6Pmow" target="_blank"><i class="icon-sent-mail"></i><b>Community</b></a></li>
        <li><a href="mailto:support@keplertek.org"><i class="icon-support"></i><b>Support</b></a></li>
      </ul>
    </div>
  </div>
  <div class="logoArea">
    <div class="_devLogo">
      <a href="javascript:;" routerLink="/main"><img src="/assets/img/kepler-k_sh.svg" alt=""></a>
    </div>
  </div>
  <div class="r -right flex -ac">
    <div class="btn-area">
      <div class="btn -simple -green" routerLink="/offer" *ngIf="true"><b>Make Offer</b></div>
    </div>
    <app-head-user></app-head-user>
  </div>
</div>
