.affiliatePage {
  .refferalLink {
    padding: 8px 14px;
    margin: 20px 0 10px 0;
    width: 100%;
    font-size: 15px;
    font-family: $SegoeUI-Regular;
    border: 1px solid $oc-gray-2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}
